<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yangpeng.dao.TutorDao">
	<!-- 增加家教信息 -->
	<insert id="addTutor">
		INSERT INTO `tutor` (`tutorId`, `tutorName`, 
			`tutorTypeId`, `tutorGradeId`, `tutorPhone`, `tutorEmail`, `tutorSubject`, 
			`tutorAge`, `tutorTimeId`, `tutorPresent`, `adminId`, `tutorDate`, `menthId`, `priceId`,tutorSexId,statusId) VALUES 
			(NULL, #{tutorName},#{tutorTypeId},#{tutorGradeId},#{tutorPhone},#{tutorEmail},#{tutorSubject},
				#{tutorAge},#{tutorTimeId},#{tutorPresent},#{adminId},#{tutorDate},#{menthId},#{priceId},#{tutorSexId},#{status});
	</insert>
	<select id="selectClass" resultType="String">
		SELECT
			tutorId
		FROM
			tutor
		WHERE
			adminId = #{adminId}
	</select>
	<select id="selectTutor" resultType="TutorDto">
		SELECT
			tutorId,
			tutorName,
			gradeContxt,
			group_concat(st_class.classname) AS classname,
			methodContext,
			tutorContxt,
			statusId,
			timeContxt,
			tutorDate,
			tutorPresent,
			priceNumber
		FROM
			tutor,
			st_class,
			tutorgrade,
			tutormethod,
			tutortype,
			tutortime,
			chargeprice
		WHERE
			tutor.tutorId =#{tutorId}
		AND FIND_IN_SET(st_class.classid,tutorSubject) 
		AND tutor.tutorGradeId = tutorgrade.tutorGradeId
		AND tutor.menthId = tutormethod.methodId
		AND tutor.tutorTypeId = tutortype.tutorTypeId
		AND tutor.tutorTimeId = tutortime.tutorTimeId
		AND tutor.priceId = chargeprice.priceId
	</select>
	<update id="updateStatus">
		UPDATE tutor
		<set>
			status = 0
		</set>
		<where>
			tutorId = #{tutorId}
		</where>
	</update>
</mapper>